@CHARSET "ISO-8859-1";

.ui-select .ui-btn-icon-right .ui-icon {
    right: 15px;
    display: none;
}


.ui-select .ui-btn {
   
    border: none;
    background-color: transparent;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
    height: 30px;
    line-height: 15px;
    padding: none;
    font-size: 12px!important;
    margin-right: 0px;
    font-weight: 400!important;
    text-align: left;
    margin-left: -2px;
    width: 70%;
     font-weight: 600!important;
}

.ui-select .ui-btn-icon-right .ui-btn-inner, .ui-select .ui-li-has-count .ui-btn-inner {
    padding-right: 0px;
    padding-left: 0px;
}

.ui-select .ui-btn select {
    cursor: pointer;
    -webkit-appearance: none;
    left: 0;
    top: 0;
    width: 75%;
    min-height: 1.5em;
    min-height: 100%;
    height: 3em;
    max-height: 100%;
    filter: Alpha(Opacity=0);
    opacity: 0;
    z-index: 2;
}

.ui-shadow{
	dispay:none;
}


 /* div.ui-input-text {
    padding: 0 .4em;
    border: none;
    background-color: transparent;
    background: transparent;
    text-shadow: none;
    box-shadow: none;
} 
 */
